$font_color = {{ colors.on_surface.default.rgb }}
$inner_color = {{ colors.surface_container.default.rgb }}
$outer_color = {{ colors.primary.default.rgb }}
$text_color = {{ colors.on_surface.default.rgb }}
