[matugen]
main               = {{ colors.background.dark.hex_stripped }}
main-secondary     = {{ colors.surface_bright.dark.hex_stripped }}
accent             = {{ colors.primary.dark.hex_stripped }}
button             = {{ colors.primary.dark.hex_stripped }}
button-secondary   = {{ colors.secondary.dark.hex_stripped }}
button-active      = {{ colors.primary_fixed.dark.hex_stripped }}
button-disabled    = {{ colors.surface_bright.dark.hex_stripped }}

misc               = {{ colors.tertiary.dark.hex_stripped }}
subtext            = {{ colors.on_surface_variant.dark.hex_stripped }}
text               = {{ colors.on_background.dark.hex_stripped }}
sidebar            = {{ colors.surface.dark.hex_stripped }}
player             = {{ colors.surface.dark.hex_stripped }}
card               = {{ colors.surface_bright.dark.hex_stripped }}
notification       = {{ colors.surface.dark.hex_stripped }}
notification-error = {{ colors.error.dark.hex_stripped }}
shadow             = {{ colors.shadow.dark.hex_stripped }}

nav-active-text    = {{ colors.primary.dark.hex_stripped }}
nav-active         = {{ colors.primary.dark.hex_stripped }}
tab-active         = {{ colors.surface.dark.hex_stripped }}
play-button        = {{ colors.primary.dark.hex_stripped }}

playback-bar       = {{ colors.primary_fixed.dark.hex_stripped }}
